#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .btn-edit, .btn-delete {
    width: 40px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 24px;
  }

  .btn-edit {
    color: orange;

    &:hover {
      background: transparent !important;
      color: orange;
    }
  }

  .btn-delete {
    color: red;

    &:hover {
      background: transparent !important;
      color: red;
    }
  }

  .modal-user-container {
    .modal-content button {
      background-color: transparent !important;
      border: none;
      outline: none;
      font-size: 32px;
      color: white;
    }

    .modal-user-body {

      .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 8px 0;
  
        input {
          border-radius: 4px;
          height: 30px;
          border: 1px solid black;
          outline: none;
          padding: 0 8px;
        }
      }
    }
  }