* {
    box-sizing: border-box;
}

.home-header-container {
    height: 60px;
    border: 1px solid red;
    width: 100%;
    padding: 0 16px;

}

.home-header-content{
    display: flex;
    width: 100%;
    height: 100%;
    
    .left-content{
        width: 25%;
        border: 1px solid red;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 8px;

        i {
            font-size: 24px;
            opacity: 0.8;
        }

        .header-logo {
            background: url('../../assets/logo.svg') center center no-repeat;
            height: 100%;
            width: 100%;
        }
    }

    .center-content{
        width: 50%;
        border: 1px solid orange;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .child-content {

            b {
                font-size: 13px;
            }

            .subs-title {
                color: black;
                opacity: 0.7;
                font-size: 11px;
            }
        }
        
    }
    .right-content{
        width: 25%;
        border: 1px solid green;
        display: flex;
        justify-content: center;
        align-items: center;

        .support {
            
            i {
                font-size: 24px;
            }
        }
    }
}

.home-header-banner {
    background: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 485px;
    // padding: 42px 60px;
    display: flex;
    flex-direction: column;

    .content-up {
        border: 1px solid red;
        height: 50%;
        
        .title1 {
            margin-top: 24px;
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
        }
    
        .title2 {
            text-align: center;
            font-size: 30px;
            color: white;
            font-weight: 600;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 16px;
        }
    
        .search {
            margin-top: 20px;
            text-align: center;
            display: flex;
            // justify-content: center;
            align-items: center;
            padding: 8px;
            // border: 1px solid red;
            width: 360px;
            border-radius: 999px;
            background: #f7d800;
            margin: 0 auto;
            height: 50px;
    
            i {
                margin: 0 8px;
                font-size: 18px;
            }
    
            input {
                border: none;
                outline: none;
                background: transparent;
                width: 100%;
                height: 100%;
                padding: 0 4px;
                font-size: 16px;
            }
        }
    }

    .content-down {
        border: 1px solid red;
        height: 50%;

        .options {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            
            .option-child {
                width: 230px;
                height: 112px;
                text-align: center;
                border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:hover {
                    cursor: pointer;
                    color: rgb(54, 54, 241);
                    opacity: 0.9;
                }

                .icon-child {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 1px 1px 1px #333;
                    font-size: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: #49bce2;
                        font-size: 24px;
                    }
                }

                .text-child {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

}