.section-share {
    padding-bottom: 24px;

    .img-custom {
        // border: 1px solid #eee;
    }

    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-medical-facility {
        background: #fff;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;

        .border-custom {
            border: 1px solid rgb(236, 55, 49);
            padding: 8px;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }

            .img-custom {
                border: none;
            }
        }
    }

    &.section-handbook {
        background: #fff;
    }

    &.section-about {
        background: #f5f5f5;
        height: 450px;
        padding: 16px 64px;

        .section-about-header  {
            margin-bottom: 18px;
            color: black;
            font-size: 24px;
            font-weight: 600;
        }
        
        .section-about-content  {
            display: flex;
            align-items: center;
            width: 100%;

            .content-left {
                width: 50%;
            }

            .content-right {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-style: italic;
            }
        }
    }

}

.section-container {
    // height: 250px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;

    .section-header {
        height: 60px;
        margin-top: 40px;

        .section-title {
            font-size: 20px;
            font-weight: 600;
            padding: 0 8px;
        }

        .section-btn-see-more {
            border: none;
            outline: none;
            min-width: 100px;
            height: 40px;
            padding: 4px 8px;
            cursor: pointer;
            float: right;
            background: #ebebeb;
            text-transform: uppercase;

            &:hover {
                color: #fff;
                background-color: #f7d800;
            }
        }
    }

    .slick-slide {
        padding: 0 10px;
    }
    
    .img-custom {
        cursor: pointer;
        color: unset;
        text-decoration: none;

        &:hover {
            color: #45c3d2;
        }

        .outer-bg {
            display: flex;
            justify-content: center;
            border-radius: 999px;
        }

        .bg-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 150px;
            min-width: 278px;
            object-fit: cover;

            &:hover {
                cursor: pointer;
            }

            &.section-specialty {
                // background-image: url('../../assets/specialty/co-xuong-khop.jpg');
            }

            &.section-medical-facility {
                // background-image: url('../../assets/medicalfacility/xu-ti.jpg');
                border: 1px solid #eee;
                width: 100%;
                background-size: cover;
                
            }

            &.section-outstanding-doctor {
                // background-image: url('../../assets/outstandingdoctor/outstanding-doctor.jpg');
                border: 1px solid #eee;
                min-width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            &.section-handbook {
                // background-image: url('../../assets/handbook/handbook.png');
            }

        }
    }

    .color-name-specialty {
        cursor: pointer;

        &:hover {
            color: #45c3d2;
        }
    }

    .slick-prev { 
        height: 45px !important;
        width: 40px !important;
        z-index: 1000;
        margin-left: 20px !important;
        background: #45c3d2 !important;
        border: 2px solid gray;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }

    .slick-next {
        height: 45px !important;
        width: 40px !important;
        z-index: 1000;
        margin-right: 20px !important;
        background: #45c3d2 !important;
        border: 2px solid gray;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }  
}

.homefooter {
    background-color: #64b9e5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    padding-bottom: 0;

    a {
        color: black;

        &:hover {
            color: #fff;
        }
    }


}

.slick-disabled {
    display: none !important;
}